.home-container{
  display: flex;
  padding: 20px;
  
}

.home-container button{
  text-align: center;
  padding: 40px;
  background-color: cyan;
  margin: 10px;
  border-radius: 10px;
}

.home-container button:hover{
  background-color: orange;
  cursor: pointer;
}