body {
  background: linear-gradient(180deg, #a8d85f 0%, #7cb342 100%);
  min-height: 100vh;
  margin: 0;
}

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.snorlax {
  width: 90px;
  height: 120px;
  position:absolute;
  display: flex;
}
.search-section {
  text-align: center;
  margin-bottom: 40px;
  background: rgb(227, 184, 162);
  padding: 30px;
  border-radius: 10px;
  border: 3px solid #558b2f;
}



.search-section input {
  padding: 10px 15px;
  width: 250px;
  border: 2px solid #558b2f;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
  background: #f5f5dc;
}

.pokemon-card {
  background: #f5f5dc;
  border: 3px solid #8d6e63;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.pokemon-card h2 {
  text-transform: capitalize;
  color: #3e2723;
  margin-bottom: 20px;
}

.pokemon-images {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.pokemon-images img {
  width: 120px;
  height: 120px;
  background: #fff8dc;
  border-radius: 10px;
  border: 2px solid #a1887f;
}

.pokemon-card p {
  margin: 10px 0;
  font-size: 16px;
  text-transform: capitalize;
  color: #4e342e;
}

.pokemon-card h3 {
  margin-top: 20px;
  color: #5d4037;
}