:root {
  --nav-bg: beige;
  --nav-text: #000000;
  --nav-hover: #f1356d;
  --nav-link: #000000;
  --nav-hover-text: #000000;
  --theme-toggle-bg: #ffcb05;
  --theme-toggle-text: #000;
}


.navbar {
  background-color: var(--nav-bg);
  display: flex;
  position: sticky;
  align-items: center;
  top: 0;
  height: 50px;
  z-index: 99999;
  color: var(--nav-text);
}

.navbar h1 {
  margin-left: 10px;
}

.navbar .links {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar a {
  margin: 15px;
  text-decoration: none;
  padding: 10px;
  color: var(--nav-link);
  border-radius: 5px;
  transition: background 0.3s;
}

.navbar a:hover {
  background-color: var(--nav-hover);
  color: var(--nav-hover-text);
}

.navbar button {
  margin: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--theme-toggle-bg);
  color: var(--theme-toggle-text);
  border: none;
  cursor: pointer;
}
