.intro{
  margin-top: 40px;
  text-align: center;
  
}
.intro-dark-mode{
  color:aliceblue;
}
.main{
  margin-bottom: 31px;
}
.poke-name{
  text-align: center;
  background-color: greenyellow;
  width:200px;
  height:200px;
  margin: 10px auto;
  border-radius: 20px;
}
.poke-name h3{
  padding-top: 15px;
}
.poke-name button{
  margin:0;
  padding:10px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.evo{
  display:flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
}
.evo ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer.dark-mode{
  background-color: black;
}
.footer{
  background-color: rgb(6, 6, 46);
  padding: 10px;
  justify-content: center;
  color: yellow;
  display: flex;
  position:fixed;
  bottom: 0;
  width: 100%;
  font-size:10px;
}

.errors{
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color:  beige;
  width: 800px;
  margin: 0 auto;
}