.poke-name,
.evo {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: #333;
}

.poke-name img {
  width: 200px;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

[class^="type-"] {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
  margin: 5px 3px;
  font-size: 13px;
  font-weight: 600;
}