.navbar {
  background-color: rgb(6, 6, 46);
  display:flex;
  position: sticky;
  align-items: center;
  color: yellow;
  z-index: 1000;
  top: 0;
}

.navbar .links {
  margin-left: auto;
}

.navbar a:hover{
  background-color: #f1356d;
  color: white;
}
.navbar h1{
  margin-left: 10px;

}
  
.navbar a{
  margin:15px;
  text-decoration: none;
  padding: 10px;
  color: yellow;
  border-radius: 5px;
}

.navbar button{
  margin:15px;
  border-radius: 5px;
}

.navbar span{
  margin:15px;
  border-radius: 5px;
}